@charset "utf-8";
img {
  height: 50px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: blue;
  font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  text-align: center;
}

.curry {
   display: table-column;
}

.players {
  height: 300px; 
  border-style: solid;
  border-width: 15px;
  border-radius: 10px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
  background-color: #FF0004;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0005FF;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #5D66FF;
}

li a:hover:not(.active) {
  background-color: #5D66FF;
}

.active {
  background-color: #060091;
}

p {
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  color: antiquewhite;	
}

h2 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";	
  color: blue;
}